

$accent-color: rgba(149, 165, 166,1.0);
$accent-color-dim: lighten( $accent-color, 80% );
$main-theme-color: rgba(144, 62, 80,1.0);
$secondary-color: rgba(144, 62, 80,1.0);

.nav-bar-color {
  background-color: $main-theme-color !important;
}

.secondary-color {
  background-color: $secondary-color !important;
}

.accent-color {
  background-color: $accent-color !important;
}

.accent-color-simple {
  color: $accent-color !important;
}

body {
  overflow-x: hidden;
  background:black;
}

nav .nav-wrapper {
  position: relative;
  height: 100%;
  box-shadow: 1px 5px 20px 1px #000;
}


.modal .modal-footer {
  background-color: #ccc;
}

.modal {
  background-color: #ccc;
}

.spinner-red, .spinner-accent-only {
  border-color: $accent-color;
}

.ReactTable .-pagination .-btn {
  background: $accent-color !important;
  color:white !important;
}


.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating){
  color: $accent-color;
}

input[type="text"]:focus:not([readonly]), input[type="password"]:focus:not([readonly]), input[type="email"]:focus:not([readonly]), input[type="url"]:focus:not([readonly]), input[type="time"]:focus:not([readonly]), input[type="date"]:focus:not([readonly]), input[type="datetime"]:focus:not([readonly]), input[type="datetime-local"]:focus:not([readonly]), input[type="tel"]:focus:not([readonly]), input[type="number"]:focus:not([readonly]), input[type="search"]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid $accent-color !important;
  box-shadow: 0 1px 0 0 $accent-color !important;
}

[type="radio"]:checked + label::after, .with-gap[type="radio"]:checked + label::after {
  background-color: $accent-color;
}

[type="radio"]:checked + label::after, .with-gap[type="radio"]:checked + label::before, .with-gap[type="radio"]:checked + label::after {
  border: 2px solid $accent-color;
}

.filled-in[type="checkbox"]:checked + label::after {
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid $accent-color;
  background-color: $accent-color;
  z-index: 0;
}

.switch label input[type="checkbox"]:checked + .lever::after {
  background-color: $accent-color;
  left: 24px;
}

.switch label input[type="checkbox"]:checked + .lever {
  background-color: $accent-color;
}

.input-field input[type=text]:focus + label {
  color: $accent-color;
}

.dropdown-content li > span {
  color: $accent-color;
}


.picker__date-display {
  background-color: $accent-color;
}

.picker__weekday-display {
  background-color: $accent-color;
}

.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
  background-color: $accent-color;
}

.picker__day.picker__day--today, .picker__footer button {
  color: $accent-color;
}

.tabs .tab a {
  color: $accent-color;
}

.tabs .tab a:hover, .tabs .tab a.active {
  color: $main-theme-color;
}

.tabs .indicator {
  background-color: $main-theme-color;
}


/* function for picker hover color */

@mixin background-opacity($color, $opacity: 0.3) {
  background: $color; /* The Fallback */
  background: rgba($color, $opacity);
}

.picker__nav--next:hover, .picker__nav--prev:hover {
  @include background-opacity($accent-color, 0.1);
}

.ReactTable .rt-thead .rt-th.-sort-asc, .ReactTable .rt-thead .rt-td.-sort-asc {
  -webkit-box-shadow: inset 0 3px 0 0 $accent-color !important;
  box-shadow: inset 0 3px 0 0 $accent-color !important;
}

.ReactTable .rt-thead .rt-th.-sort-desc, .ReactTable .rt-thead .rt-td.-sort-desc {
  -webkit-box-shadow: inset 0 -3px 0 0 $accent-color !important;
  box-shadow: inset 0 -3px 0 0 $accent-color !important;
}

/* utils and basics */

.hidden { display:none; }

.no-padding {
  padding:0 !important;
}

.scrollTop {
  position: fixed;
  bottom: 20px;
  right: 1em;
  z-index: 996;
  cursor: pointer;
}

.scrollTop i {
  font-size: 20pt;
  color: white;
}

nav ul li a {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-family: 'Oswald', sans-serif;
}

nav .brand-logo {
  font-family: 'Oswald', sans-serif;
  position: relative;
  top: 0;
  left: 50%;
  width: 100px;
  margin-left: -56px;

}

.activeV {
  background:rgba(0,0,0,0.2);
}

.page {
  min-height:700px;
}

.dataLoader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 100px;
  margin-left: -150px;
  margin-top: -90px;
  text-align: center;
}

.appRoot2 {
  min-height: 600px !important;
  position:relative;
}

.headroom {
  z-index:9 !important;
}

.padding-top {
  padding-top:2em;
}

.side-nav {
  min-height: 1000px;
  z-index: 1002;
  background: #ccc;
}

#sidenav-overlay {
  z-index: 0 !important;
}

.max-width {
  max-width: 1200px;
}

.modal-content h4 {
  text-align:center;
}

.uppercase {
  text-transform: uppercase;
}